.content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 10px auto;
}

.content__icon {
  width: 40px;
  color: lime;
}

.content__date {
  font-size: 14px;
  color: palegreen;
}
