.container {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.cabang-option {
  width: auto;
  margin-top: 40px;
  margin-bottom: -10px;
}

.cabang-option label {
  font-size: 14px;
}

.cabang-option select {
  margin: 0 10px;
  padding: 5px;
}

.welcome-page {
  width: 100%;
  height: 550px;
  margin: 5px auto;
  background-image: url("/images/Logo Bista Paper.webp"); /* Office Glass Paper Sunshade*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
