.container {
  width: 100%;
  min-height: 100vh;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  font-size: 12px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

.container-logo {
  width: 80%;
  margin-bottom: 20px;
  margin-left: 20px;
}

.menu-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu-btn {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ddd;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.menu-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;
}

.menu-title svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.menu-list {
  width: 100%;
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
  background-color: #ddd;
  border-radius: 4px;
  overflow: hidden;
  animation: scrolldown 0.5s forwards;
}

.list {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  color: #222;
}

.list-active {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: black;
  color: #fff;
}

.menu-icon {
  width: 30px;
  margin-right: 10px;
}

.text-icon {
  margin: 0;
}

.menu-btn:hover,
.menu-btn:focus {
  background-color: red;
  color: #fff;
  transition: all 0.3s;
  outline-style: none;
  cursor: pointer;
}

.menu-btn:hover .menu-icon,
.menu-btn:focus .menu-icon {
  filter: invert(100%) sepia(0%) saturate(5400%) hue-rotate(104deg) brightness(98%) contrast(111%);
  transition: all 0.3s;
}

.menu-active {
  padding: 10px;
  margin-bottom: 10px;
  background-color: red;
  color: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  outline-style: none;
  cursor: pointer;
}

.menu-active .menu-icon {
  filter: invert(100%) sepia(0%) saturate(5400%) hue-rotate(104deg) brightness(98%) contrast(111%);
  transition: all 0.3s;
}

.list:hover {
  cursor: pointer;
  background-color: black;
  color: #fff;
}

@keyframes scrolldown {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 760px) {
  .container {
    display: none;
  }
  .mobile-side-menu {
    width: 360px;
    position: absolute;
    top: 60px;
    left: 0;
    min-height: 100vh;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    font-size: 12px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    z-index: 101;
  }

  .mobile-side-menu > * {
    z-index: 101;
  }

  .mobile-side-menu::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
  }
}
